{% extends 'twpoint/base.html' %}
{% block css_sb %}
{% load static %} <link href="{% static 'twpoint/bootstrapdist/css/sb-admin-2.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Distribution Map</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <i class="fa fa-map-marker"></i>  MAP
                </div>
                <div class="panel-body">
                    <div id="d_map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <i class="fa fa-database"></i> Location information by region
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-pie-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Detail Data
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-pie-chart-detail"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'twpoint/vendor/flot/excanvas.js' %}"></script>
<script src="{% static 'twpoint/vendor/flot/jquery.flot.js' %}"></script>
<script src="{% static 'twpoint/vendor/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'twpoint/vendor/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'twpoint/vendor/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'twpoint/vendor/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'twpoint/data/distribution-data.js' %}"></script>
<script src="{% static 'twpoint/data/table-data.js' %}"></script>
<script src="{% static 'twpoint/data/distribution-flot-data.js' %}"></script>
<script src="{% static 'twpoint/js/markerclusterer.js' %}"></script>
{% endblock %}