{% extends 'twpoint/base.html' %}
{% block css_sb %}
{% load static %} <link href="{% static 'twpoint/bootstrapdist/css/sb-admin-2.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Distribution Map</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-road"></i>  MAP
                </div>
                <div class="panel-body">
                    <div id="d_map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Data
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Data2
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'twpoint/data/distribution-data.js' %}"></script>
<script src="{% static 'twpoint/data/distribution-flot-data.js' %}"></script>
{% endblock %}