{% extends 'twpoint/base.html' %}
{% block css_sb %}
{% load static %} <link href="{% static 'twpoint/bootstrapdist/css/sb-admin-2.css' %}" rel="stylesheet">
{% endblock %}
{% block main_content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Gallery </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-road"></i> GPS
                </div>
                <!--/.panel-heading-->
                <div class="panel-body">
                    <div id="gall-map"></div>
                </div>
                <!--/.panel-body -->
            </div>
            <!--/.panel panel-default-->
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Photo Info
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="{% static 'twpoint/img/The_way.png' %}">
                        <div class="caption">
                            <h5 class="page-header">Name</h5>
                            <h5>Latitude: 127.000</h5>
                            <h5>Longitude: 32.000 </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-photo "></i> Photo
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#thumnails" data-toggle="tab" aria-expanded="true">Thumnails</a></li>
                        <li><a href="#lists" data-toggle="tab" aria-expanded="false">Lists</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="thumnails">
                            <div class="row"></div>
                            <div id="pagination"></div>
                        </div>
                        <div class="tab-pane fade" id="lists">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bootstrap gallery -->
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'twpoint/data/gallery-data.js' %}"></script>
<script src="{% static 'twpoint/data/table-data.js' %}"></script>
<script src="{% static 'twpoint/data/pagination-data.js' %}"></script>
{% endblock %}