<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'twpoint:index' %}">The WAY</a>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-7">
            <p class="navbar-text" style="float:right;"> {{ time }}</p>
        </div>{% if application %}
        <div class="col-lg-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Info <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li> <p>&nbsp;Name: {{Name}}</p></li>
                        <li> <p>&nbsp;Case NO: {{Case_no}}</p></li>
                        <li> <p>&nbsp;Description: {{Description}}</p></li>
                        <li> <p>&nbsp;File Path: a</p></li>
                        <li> <p>&nbsp;Time Zone: a</p></li>
                    </ul>
                </li>
            </ul>
        </div>{% endif %}
    </div>{% if application %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse" >
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{% url 'twpoint:result' %}"> Statistics </a>
                </li>
                <li>
                    <a href="{% url 'twpoint:distribution' %}"> Distribution Map</a>
                </li>
                <li>
                    <a href="{% url 'twpoint:basestation' %}"> Base Station</a>
                </li>
                <li>
                    <a href="{% url 'twpoint:gallery' %}"> Gallery</a>
                </li>
                <li>
                    <a href="#"> Applcation<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% for app in application %}
                        <li>
                            <a href='{% url "twpoint:detail" app.id %}'> {{app}} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>{% endif %}
    <!-- /.navbar-static-side -->
</nav>
