{% extends 'twpoint/base.html' %}
{% block css_landing %}{% load static %} <link href="{% static 'twpoint/vendor/bootstrap/css/landing-page.css' %}" rel="stylesheet">
<link href="{% static 'twpoint/css/loading.css' %}" rel="stylesheet">{% endblock %}

{% block main_content %}
    <!-- Header -->
    <div id="tyle-loader" hidden><div></div><div><div></div></div></div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <div class="intro-message">
                    <h1>The WAY</h1>
                </div>
                {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/The_way.png' %}">
            </div>
            <div class="col-lg-6">
                <div class="col-lg-10 col-lg-offset-1 description">
                    <form action="{% url 'twpoint:parsing' %}" method="post">{% csrf_token %}
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon1">Name</span>
                            <input type="text" class="form-control" name="Name" id="Name" aria-describedby="basic-addon3">
                        </div>
                        <br/>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon2">Case no</span>
                            <input type="text" class="form-control" name="Case_no" id="Case_no" aria-describedby="basic-addon3">
                        </div>
                        <br/>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon3">Description</span>
                            <input type="text" class="form-control" name="Description" id="Description" aria-describedby="basic-addon3">
                        </div>
                        <br/>
                        <input type="text" class="form-control" name="filename" id="Folderinput" value="" readonly style="width: 80%;float: right;">
                        <input type="file" class="filestyle" name="files" hidden data-input="false" data-badge="false" onchange="selectFolder(event)" webkitdirectory>
                        <br/>
                        <div class="col-lg-offset-1 attach-right">
                            <input type="submit" class="btn btn-success btn-lg" onclick="$('#tyle-loader').show();" value="Start">
                        </div>
                    </form>

                    <div class="col-xs-12 top"><p>Supportable application with The WAY (2016.11.14)</p></div><br/>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                    <div class="col-xs-2 icon">
                        {% load static %}<img class="img-responsive" src="{% static 'twpoint/img/Naver.png' %}">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
function selectFolder(e) {
    var theFiles = e.target.files;
    var relativePath = theFiles[0].webkitRelativePath;
    var folder = relativePath.split("/");
    document.getElementById("Folderinput").value = folder[0];
}
</script>
        <!-- /.container -->
    <!-- /.intro-header -->
    <!-- Page Content -->

{% endblock %}