{% extends 'twpoint/base.html' %}
{% block css_landing %}{% load static %} <link href="{% static 'twpoint/vendor/bootstrap/css/landing-page.css' %}" rel="stylesheet">
<link href="{% static 'twpoint/css/loading.css' %}" rel="stylesheet">{% endblock %}
{% block main_content %}
<div id="page-wrapper">
    <div id="tyle-loader" hidden><div></div><div><div></div></div></div>
    <div class="row">
        <div class="description_sec">
            <div class="row">
                <h1>Information</h1>
            </div>
            <div class="row">
                <div class="well">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                        <dd align="center">{{ user.name }}</dd><br>
                        <dt>Case no:</dt>
                        <dd align="center">{{user.case_no}}</dd><br>
                        <dt>Description:</dt>
                        <dd align="center">{{user.description}}</dd><br>
                        <dt>Phone:</dt>
                        <dd align="center">Null</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <h2>Analyzed Application</h2>
            </div>
            <div class="row top">
                <div class="col-lg-2 icon">
                    {% load static %}<img class="img-responsive listimg" src="{% static 'twpoint/img/Naver.png' %}">
                </div>
                <div class="col-lg-3">
                    <h3>application name</h3>
                </div>
                <div class="col-lg-7">
                    <h3>app datafile path</h3>
                </div>
            </div>
            <div class="row top">
                <div class="col-lg-2 icon">
                    {% load static %}<img class="img-responsive listimg" src="{% static 'twpoint/img/Naver.png' %}">
                </div>
                <div class="col-lg-3">
                    <h3>application name</h3>
                </div>
                <div class="col-lg-7">
                    <h3>app datafile path</h3>
                </div>
            </div>
            <div class="row top">
                <div class="col-lg-2 icon">
                    {% load static %}<img class="img-responsive listimg" src="{% static 'twpoint/img/Naver.png' %}">
                </div>
                <div class="col-lg-3">
                    <h3>application name</h3>
                </div>
                <div class="col-lg-7">
                    <h3>app datafile path</h3>
                </div>
            </div>
            <div class="row top">
                <div class="col-lg-2 icon">
                    {% load static %}<img class="img-responsive listimg" src="{% static 'twpoint/img/Naver.png' %}">
                </div>
                <div class="col-lg-3">
                    <h3>application name</h3>
                </div>
                <div class="col-lg-7">
                    <h3>app datafile path</h3>
                </div>
            </div>
            <div class="row">
                <h1>ADD Base Station File(.CSV)</h1>
            </div>
            <form action="{% url 'twpoint:result' %}" method="post" ENCTYPE="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="top">
                    <input type="file" class="filestyle" name="file"><br>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-default btn-lg" onclick="$('#tyle-loader').show();" value="Start">
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}